@model HoldAlt.Models.AltCoin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AltCoin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CoinName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoinName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoinSymbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoinSymbol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AltCoinID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
